.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    border: none;
    margin: 0 50px;
    background-color: rgb(26, 23, 23);
}
.side-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    
   
}
.cart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    
    
}